@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply font-montserrat
  }

  p,span,h1,h2,h3,h4,h5,h6{

  }
  h1 {
    @apply text-3xl;
    @apply font-bold
  }
  h2 {
    @apply text-3xl;
    @apply font-bold
  }
  h3 {
    @apply text-2xl;
    @apply font-semibold;
  }
}

@layer components {
  [aria-current="page"] {
    @apply text-primary !important;
  }

  .hover-left-circle {
    @apply hover:before:content-[''];
    @apply hover:before:block;
    @apply hover:before:absolute;
    @apply hover:before:w-3;
    @apply hover:before:h-3;
    @apply hover:before:border-solid;
    @apply hover:before:border;
    @apply hover:before:border-white;
    @apply hover:before:border-[2px];
    @apply hover:before:rounded-full;
    @apply hover:before:top-1/2;
    @apply hover:before:-translate-y-1/2;
    @apply before:bg-primary;
    @apply before:-left-4;
    @apply md:before:left-auto;
    @apply md:before:-right-8;
  }

  .left-line {
    @apply before:content-[''];
    @apply before:absolute;
    @apply before:h-5/6;
    @apply before:border;
    @apply before:border-[1px];
    @apply before:border-solid;
    @apply before:border-white;
    @apply before:top-1/2;
    @apply before:-translate-y-1/2;
    @apply before:left-[calc(-0.7rem)];
    @apply md:before:left-auto;
    @apply  md:before:right-[calc(-1.67rem)];
  }

  .horizontal-line {
    @apply before:content-[''];
    @apply before:h-0;
    @apply before:w-1/2;
    @apply before:sm:w-3/4;
    @apply mt-6;
    @apply before:border;
    @apply before:border-solid;
    @apply before:border-primary-light;
    @apply before:inline-block;  
    @apply after:content-[''];
    @apply after:h-3;
    @apply after:w-3;
    @apply after:border-2;
    @apply after:border-solid;
    @apply after:border-primary-light;
    @apply after:bg-white;
    @apply after:rounded-full;
    @apply after:inline-block;
    @apply after:-translate-x-[calc(50%)];
    @apply after:translate-y-[calc(50%-1px)];
  }
  
  .circular-carousel {
    @apply flex;
    @apply flex-col;
    @apply gap-10 md:gap-16 lg:gap-20;
    @apply md:flex-row;
  }

  .carousel-slider {
    @apply relative; 
    @apply border-2; 
    @apply border-solid; 
    @apply size-60 lg:size-72; 
    @apply min-w-60 lg:min-w-72; 
    @apply rounded-[50%]; 
    @apply border-gray-light;
    @apply max-md:self-center;
    @apply max-md:mb-8;
  }

  .slider-dots {
    @apply -left-2/4;
    @apply relative; 
    @apply flex; 
    @apply items-center; 
    @apply justify-center; 
    @apply w-full; 
    @apply h-full;
  }

  .slide-dot {
    @apply absolute;
    @apply size-6;
    @apply transition-[0.5s]; 
    @apply  bg-primary-light;
    @apply cursor-pointer;
    @apply origin-[8.2rem] lg:origin-[9.65rem]; 
    @apply rounded-[50%];
    transform: rotate(calc(360deg / var(--total-slides) * var(--i)));
    @apply z-10;
    @apply hover:border-4 hover:border-solid hover:border-primary;
  }

  .slide-dot.active {
    @apply bg-primary;
  }

  .slider-images {
    @apply absolute;
    @apply inset-0;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply overflow-hidden;
    @apply transition-opacity duration-700 ease-[ease-in-out];  

  }

  .slide-image.active {
    @apply opacity-100;
    @apply delay-200;
    @apply scale-100;
    
  }

  .slide-image {
    @apply absolute;
    @apply transition-all duration-500 ease-[ease-in-out];  
    @apply w-4/5;
    @apply h-4/5;
    @apply rounded-[50%];
    @apply scale-0;
  }

  .slide-image img {
    @apply inline-block;
    @apply w-full;
    @apply h-full;
    @apply bg-cover;
    @apply rounded-[50%];
    @apply object-cover;

  }

  .slider-names {
    @apply grid grid-cols-2 gap-x-8 gap-y-2;
    @apply mb-12;
  }

  .slide-name.active {
    @apply text-primary
  }

  .slide-name {
    @apply text-xl text-left; 
    @apply cursor-pointer;
    @apply basis-[calc(50%-2rem)];
    @apply text-primary-light hover:text-primary;
  }

  .color-white svg g path{
    fill: antiquewhite;
    stroke: aliceblue
}

  .slide-media{
    @apply flex;
    @apply gap-8 sm:gap-16;
    @apply pt-6;
  }
  
  .slide-content {
    @apply opacity-0;
    @apply scale-0;
    @apply absolute;
    @apply max-md:bottom-0;
    @apply transition-opacity duration-500 ease-[ease-in-out];  
  }

  .slide-content.active {
    @apply relative;
    @apply opacity-100;
    @apply scale-100;
    @apply delay-200;

    }

  .board-menu {
    @apply flex justify-around mt-16 mb-16;
  }

  .board-group-name {
    @apply font-bold;
    @apply text-base sm:text-xl md:text-2xl;
    @apply text-primary-light;
    @apply cursor-pointer;
  }

  .board-group-name.active,
  .board-group-name:hover {
    @apply text-primary;
  }

  .board-group {
    @apply grid items-center;
    @apply grid-cols-2 md:grid-cols-3 ;
    @apply gap-4 sm:gap-6 md:gap-10 lg:gap-20;
    
    @apply absolute;
    @apply opacity-0;
    @apply scale-0;
    @apply transition-opacity duration-700 ease-[ease-in-out];  
  }

  .board-group.active {
    @apply relative;
    @apply grid;
    @apply opacity-100;
    @apply scale-100;
    @apply delay-200;

  }

  .person-card{
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
    @apply items-center;
    @apply mb-4;
  }
  
  .person-image {
    @apply size-28 sm:size-40 md:size-40 lg:size-60;
    @apply rounded-[50%];
    @apply overflow-hidden;
    @apply object-cover;
    @apply mb-2;
  }

  .person-title, .slide-title {
    @apply mb-2 text-xl font-medium;
  }

  .board-group.active[data-id="board-personnel"] .person-card:first-child {
    @apply relative md:mb-0 max-md:col-span-2 md:row-span-2 ;
  }

  .board-group.active[data-id="board-personnel"] .person-card:first-child img {
    @apply relative size-40 sm:size-56 md:size-48 lg:size-60 xl:size-80;
  }

  .board-group.active[data-id="board-personnel"] .person-card:first-child .person-title {
    @apply text-2xl 
  }

  .board-group.active[data-id="board-personnel"] .person-card:first-child .person-title {
    @apply text-2xl 
  }

  .brotherhood {
    @apply grid ;
    @apply grid-cols-2; 
    @apply md:grid-cols-[repeat(2,auto)];
    @apply gap-x-2 md:gap-x-16 lg:gap-x-20 max-md:gap-y-8;
    @apply max-md:items-center max-md:justify-items-center;

  }

  .brotherhood-photos{
    @apply md:row-span-2;
    @apply min-w-28 sm:min-w-40 md:min-w-40 lg:min-w-60;
  }
  
  .brotherhood-photo {
    @apply size-28 sm:size-40 md:size-40 lg:size-60;
    @apply rounded-[50%];
    @apply overflow-hidden;
    @apply object-cover;
    @apply mb-2;
    @apply scale-0;
    @apply opacity-0;
    @apply absolute;
    @apply transition-opacity duration-500 ease-[ease-in-out];  


  }

  .brotherhood-photo.active {
    @apply block;
    @apply opacity-100;
    @apply delay-200;
    @apply scale-100;
    @apply relative;
  }

  .brotherhood-menu {
    @apply flex flex-col gap-2 md:mb-6;
  }

  .brotherhood-group-name {
    @apply font-bold;
    @apply text-base sm:text-xl md:text-2xl;
    @apply text-primary-light;
    @apply cursor-pointer;
  }

  .brotherhood-group-name.active,
  .brotherhood-group-name:hover {
    @apply text-primary;
  }

  .brotherhood-content {
    @apply max-md:col-span-2;
    @apply absolute;
    @apply opacity-0;
    @apply scale-0;
    @apply transition-opacity duration-500 ease-[ease-in-out];  
  }

  .brotherhood-content.active {
    @apply inline-block;
    @apply relative;
    @apply opacity-100;
    @apply scale-100;
    @apply delay-200;
  }
  
  #hamburger-open:focus svg .top,
  #hamburger-open:focus svg .bottom,
  #hamburger-close:focus svg .top,
  #hamburger-close:focus svg .bottom {
    @apply origin-[50%_10%] transition-all duration-300 ease-[ease-in-out];
  }

  #hamburger-open:focus svg .top {
    @apply rotate-[-20deg] -translate-x-[10px] -translate-y-[2px];
  }

  #hamburger-open:focus svg .bottom {
    @apply rotate-[20deg] translate-y-[4px];
  }

  #hamburger-close:focus svg .top {
    @apply rotate-[-25deg] translate-x-[5px] translate-y-[3px];
  }

  #hamburger-close:focus svg .bottom {
    @apply rotate-[25deg]  translate-y-[-3px];
  }

  /* #hamburger-open:focus svg .text,
    #hamburger-close:focus svg .text {
     opacity: 0;
     transition: all 300ms ease-in-out;
   } */

  #mobile-navbar {
    @apply opacity-0;
    @apply h-0;
    @apply transition-all duration-1000 ease-[ease-in-out];
  }

  #mobile-navbar.active {
    @apply opacity-100;
    @apply h-screen;
  }
}