#forminator-module-135 .forminator-pagination-footer .forminator-button-paypal {
			flex: 1;
	}
#forminator-module-135 .forminator-button-paypal > .paypal-buttons {
		}
	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-response-message,
	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-response-message p {
		font-size: 15px;
	}


	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-response-message.forminator-error {
		background-color: #F9E4E8;
		box-shadow: inset 2px 0 0 0 #E04562;
		-moz-box-shadow: inset 2px 0 0 0 #E04562;
		-webkit-box-shadow: inset 2px 0 0 0 #E04562;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-response-message.forminator-error:hover,
	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-response-message.forminator-error:focus,
	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-response-message.forminator-error:active {
		box-shadow: inset 2px 0 0 0 #E04562;
		-moz-box-shadow: inset 2px 0 0 0 #E04562;
		-webkit-box-shadow: inset 2px 0 0 0 #E04562;
	}


	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-response-message.forminator-success {
		background-color: #BCEEE6;
		box-shadow: inset 2px 0 0 0 #1ABCA1;
		-moz-box-shadow: inset 2px 0 0 0 #1ABCA1;
		-webkit-box-shadow: inset 2px 0 0 0 #1ABCA1;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-response-message.forminator-success:hover,
	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-response-message.forminator-success:focus,
	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-response-message.forminator-success:active {
		box-shadow: inset 2px 0 0 0 #1ABCA1;
		-moz-box-shadow: inset 2px 0 0 0 #1ABCA1;
		-webkit-box-shadow: inset 2px 0 0 0 #1ABCA1;
	}

	
	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-response-message.forminator-loading {
		background-color: #F8F8F8;
	}
	

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-label .forminator-required {
		color: #E04562;
	}


	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-description-password {
		display: block;
	}


	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-error-message {
		font-size: 12px;
	}


	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-error-message {
		background-color: #F9E4E8;
		color: #E04562;
	}


		#forminator-module-135 .forminator-field .forminator-radio .forminator-radio-image span,
		#forminator-module-135 .forminator-field .forminator-checkbox .forminator-checkbox-image span {
							width: 70px;
							height: 70px;
					}


	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] {
		border-color: #777771;
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] .select2-selection__rendered {
		color: #000000;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] .select2-selection__arrow {
		color: #777771;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"]:hover {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"]:hover .select2-selection__rendered {
		color: #000000;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"]:hover .select2-selection__arrow {
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select.select2-container--open .selection .select2-selection--single[role="combobox"] {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select.select2-container--open .selection .select2-selection--single[role="combobox"] .select2-selection__rendered {
		color: #000000;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select.select2-container--open .selection .select2-selection--single[role="combobox"] .select2-selection__arrow {
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-field.forminator-has_error .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] {
		border-color: #E04562;
	}


	.forminator-select-dropdown-container--open .forminator-custom-form-135.forminator-dropdown--basic {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-135.forminator-dropdown--basic .select2-results .select2-results__options .select2-results__option,
	.forminator-select-dropdown-container--open .forminator-custom-form-135.forminator-dropdown--basic .select2-results .select2-results__options .select2-results__option span:not(.forminator-checkbox-box) {
		color: #777771;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-135.forminator-dropdown--basic .select2-results .select2-results__options .select2-results__option:not(.select2-results__option--selected).select2-results__option--highlighted,
	.forminator-select-dropdown-container--open .forminator-custom-form-135.forminator-dropdown--basic .select2-results .select2-results__options .select2-results__option:not(.select2-results__option--selected).select2-results__option--highlighted span:not(.forminator-checkbox-box) {
		background-color: #DDDDDD;
		color: #000000;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-135.forminator-dropdown--basic .select2-results .select2-results__options .select2-results__option.select2-results__option--selected,
	.forminator-select-dropdown-container--open .forminator-custom-form-135.forminator-dropdown--basic .select2-results .select2-results__options .select2-results__option.select2-results__option--selected span:not(.forminator-checkbox-box) {
		background-color: #17A8E3;
		color: #FFFFFF;
	}



	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-multiselect {
		border-color: #777771;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-has_error .forminator-multiselect {
		border-color: #E04562;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-multiselect .forminator-option {
		color: #777771;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-multiselect .forminator-option:hover {
		background-color: #DDDDDD;
		color: #000000;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-multiselect .forminator-option.forminator-is_checked {
		background-color: #17A8E3;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2-selections > li {
		background-color: #888888;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2-selections > li > button {
		color: #FFFFFF;
	}




	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select .selection .select2-selection--multiple[role="combobox"] {
		border-color: #777771;
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select .selection .select2-selection--multiple[role="combobox"] .select2-selection__rendered {
		color: #000000;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select .selection .select2-selection--multiple[role="combobox"] .select2-selection__arrow {
		color: #777771;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select .selection .select2-selection--multiple[role="combobox"]:hover {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select .selection .select2-selection--multiple[role="combobox"]:hover .select2-selection__rendered {
		color: #000000;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select .selection .select2-selection--multiple[role="combobox"]:hover .select2-selection__arrow {
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select.select2-container--open .selection .select2-selection--multiple[role="combobox"] {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select.select2-container--open .selection .select2-selection--multiple[role="combobox"] .select2-selection__rendered {
		color: #000000;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-select2 + .forminator-select.select2-container--open .selection .select2-selection--multiple[role="combobox"] .select2-selection__arrow {
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-field.forminator-has_error .forminator-select2 + .forminator-select .selection .select2-selection--multiple[role="combobox"] {
		border-color: #E04562;
	}


	/*
	====================
	Signature Colors
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-signature {
		border-color: #777771;
		background-color: #EDEDED !important;
	}

	/* STATE: Hover */

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-field-signature.forminator-is_hover .forminator-signature {
		border-color: #17A8E3;
		background-color: #E6E6E6 !important;
	}

	/* STATE: Error */

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-field-signature.forminator-has_error .forminator-signature {
		border-color: #E04562;
	}


	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-pagination-steps .forminator-break {
		background-color: #777771;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-pagination-steps .forminator-break:before {
		background-color: #17A8E3;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-pagination-steps .forminator-step .forminator-step-label {
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-pagination-steps .forminator-step .forminator-step-dot {
		border-color: #777771;
		background-color: #17A8E3;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-pagination-steps .forminator-step.forminator-current ~ .forminator-step .forminator-step-label {
		color: #777771;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-pagination-steps .forminator-step.forminator-current ~ .forminator-step .forminator-step-dot {
		border-color: #777771;
		background-color: #777771;
	}


	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-repeater-field {
		background: rgba(248, 248, 248, 0.5);
		box-shadow: inset 5px 0px 0px rgba(221, 221, 221, 0.5);
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-repeater-field .forminator-grouped-fields {
		border-bottom: 1px solid rgba(170, 170, 170, 0.5);
	}


.forminator-ui#forminator-module-135.forminator-design--basic .forminator-repeater-field .forminator-grouped-fields:last-child {
	border-bottom: unset;
}
	.forminator-ui#forminator-module-135.forminator-design--basic .StripeElement:not(.forminator-stripe-payment-element) {
		padding: 9px;
		border-width: 1px;
		border-style: solid;
		border-color: #777771;
		border-radius: 2px;
		background-color: #EDEDED;
		color: #000000;
		transition: 0.2s ease;
	}
	.forminator-ui#forminator-module-135.forminator-design--basic .StripeElement:not(.forminator-stripe-payment-element):hover {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .StripeElement--focus,
	.forminator-ui#forminator-module-135.forminator-design--basic .StripeElement--focus:hover {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .StripeElement--invalid,
	.forminator-ui#forminator-module-135.forminator-design--basic .StripeElement--invalid:hover,
	.forminator-ui#forminator-module-135.forminator-design--basic .StripeElement--focus.StripeElement--invalid {
		border-color: #E04562;
	}



	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-rating-suffix {
		color: #888;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-rating-item [class*=forminator-icon-]:before {
		color: #aaa;
	}

	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-rating-item.forminator-rating-hover [class*=forminator-icon-]:before,
	.forminator-ui#forminator-module-135.forminator-design--basic .forminator-rating-item.forminator-rating-selected [class*=forminator-icon-]:before {
		color: #ff7e41;
	}

.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input,.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-textarea{font-family: inherit !important;/* 1 */
    font-feature-settings: inherit !important;/* 1 */
    font-variation-settings: inherit !important;/* 1 */
    font-size: 100% !important;/* 1 */
    font-weight: inherit !important;/* 1 */
    line-height: inherit !important;/* 1 */
    letter-spacing: inherit !important;/* 1 */
    color: inherit !important;/* 1 */
    margin: 0 !important;/* 2 */
    padding: 0 !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-textarea{resize: vertical !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input::-moz-placeholder,.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-textarea::-moz-placeholder{opacity: 1 !important;/* 1 */
    color: #9ca3af !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input::placeholder,.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-textarea::placeholder{opacity: 1 !important;/* 1 */
    color: #9ca3af !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input,.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-textarea{--tw-text-opacity: 1 !important;color: rgb(113 76 152 / var(--tw-text-opacity)) !important;--tw-bg-opacity: 1 !important;background-color: rgb(254 251 247 / var(--tw-bg-opacity)) !important;border-width: 4px !important;--tw-border-opacity: 1 !important;border-color: rgb(179 162 206 / var(--tw-border-opacity)) !important;border-radius: 9999px !important;padding-left: 1rem !important;padding-right: 1rem !important;padding-top: 0.5rem !important;padding-bottom: 0.5rem !important;width: 50% !important;outline: 2px solid transparent !important;outline-offset: 2px !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input:focus,.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-textarea:focus{--tw-border-opacity: 1 !important;border-color: rgb(83 41 132 / var(--tw-border-opacity)) !important;--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;--tw-ring-color: rgb(83 41 132 / var(--tw-ring-opacity)) !important;--tw-ring-opacity: 0.5 !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input,.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-textarea{transition-property: all !important;transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;transition-duration: 300ms !important;transition-timing-function: ease-in-out !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input::-moz-placeholder,.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-textarea::-moz-placeholder{--tw-placeholder-opacity: 1 !important;color: rgb(179 162 206 / var(--tw-placeholder-opacity)) !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input::placeholder,.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-textarea::placeholder{--tw-placeholder-opacity: 1 !important;color: rgb(179 162 206 / var(--tw-placeholder-opacity)) !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input,.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-textarea{margin-bottom: 1rem !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-textarea{height: 6rem !important;border-radius: 1rem !important;width: 100% !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic button,.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input:where([type='button']),.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input:where([type='reset']),.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input:where([type='submit']){-webkit-appearance: button !important;/* 1 */
    background-color: transparent !important;/* 2 */
    background-image: none !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input[type="checkbox"]{/* Add if not using autoprefixer */
    -webkit-appearance: none !important;appearance: none !important;15 to remove gradient background */
    background-color: rgb(254 251 247 / var(--tw-bg-opacity)) !important;/* Not removed via appearance */
    margin: 0 !important;font: inherit !important;color: currentColor !important;width: 1.15em !important;height: 1.15em !important;border: 0.15em solid currentColor !important;border-radius: 0.15em !important;transform: translateY(-0.075em) !important;display: grid !important;place-content: center !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input[type=&quot;checkbox&quot;]::before{]: :before {
    content:&quot !important;width: 0.65em !important;height: 0.65em !important;transform: scale(0) !important;transition: 120ms transform ease-in-out !important;box-shadow: inset 1em 1em var(--form-control-color) !important;background-color: rgb(83 41 132 / var(--tw-bg-opacity)) !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input[type=&quot;checkbox&quot;]:checked::before{]: checked::before {
    transform:scale(1) !important;}.forminator-ui.forminator-custom-form-135.forminator-design--basic .forminator-input[type=&quot;checkbox&quot;]:focus{]: focus {
    outline:max(2px, 0.15em) solid currentColor !important;outline-offset: max(2px, 0.15em) !important;}